@model AppOficial.Models.Veiculo

@{
    ViewData["Title"] = "Delete de registros";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Deseja realmente deletar esse veículo?</h4>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>
        </div>
        <div class="modal-body">

            <dl class="row">
                <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Modelo)</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Modelo)</dd>
                <dt class="col-sm-5">@Html.DisplayNameFor(model => model.AnoFabricacao)</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.AnoFabricacao)</dd>
                <dt class="col-sm-5">@Html.DisplayNameFor(model => model.AnoModelo)</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.AnoModelo)</dd>
                <dt class="col-sm-5">@Html.DisplayNameFor(model => model.Foto)</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Foto)</dd>
            </dl>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Deletar" class="btn btn-danger" />
                @*<a asp-action="Index">Cancelar</a>*@
            </form>
        </div>
    </div><!-- /.modal-dialog -->
</div>


